body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff; }

.d-none {
  display: none; }

@media (max-width: 980px) {
  .desktop-only {
    display: none; } }

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #2a292d;
  z-index: 3; }
  .navbar--sticky {
    position: fixed; }
  .navbar__link-wrap {
    display: flex;
    align-items: center;
    position: relative; }
    @media (max-width: 980px) {
      .navbar__link-wrap {
        width: 100%;
        justify-content: center; } }
  .navbar__mobile-menu {
    position: absolute;
    left: 20px; }
    @media (min-width: 981px) {
      .navbar__mobile-menu {
        display: none; } }
  .navbar__phone-email {
    position: absolute;
    display: flex;
    right: 20px; }
    .navbar__phone-email:hover {
      cursor: pointer; }
    @media (min-width: 981px) {
      .navbar__phone-email {
        display: none; } }
    .navbar__phone-email__separator {
      margin-left: 5px;
      margin-right: 5px;
      width: 2px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.3);
      transform: rotate(12deg); }
  .navbar__contact-link {
    height: 60px;
    width: 206px;
    line-height: 60px;
    text-align: center;
    background-color: #274ecc;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px; }
    @media (max-width: 980px) {
      .navbar__contact-link {
        display: none; } }
  .navbar__logo-link {
    display: flex;
    align-items: center; }
  .navbar__link {
    margin-left: 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #7e7f82;
    transition: .2s ease; }
    @media (max-width: 980px) {
      .navbar__link {
        display: none; } }
    .navbar__link:hover {
      color: #FFFFFF; }
  .navbar .logo {
    height: 20px;
    padding-left: 20px; }
    @media (max-width: 980px) {
      .navbar .logo {
        padding-left: 0px; } }

.mobile_navigation {
  opacity: 0;
  width: 100%;
  height: 0px;
  position: fixed;
  top: 60px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
  transition: .4s ease;
  overflow: hidden;
  background: linear-gradient(#2A292D 25%, #555457); }
  .mobile_navigation a {
    text-decoration: none; }
  .mobile_navigation.show {
    opacity: 1;
    height: calc(100% - 44px);
    max-height: 656px; }
  .mobile_navigation__link {
    height: 82px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px; }

.hotel_technologies {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px; }
  @media (max-width: 980px) {
    .hotel_technologies {
      padding-top: 68px;
      max-width: 600px;
      width: 100%; } }

.page-container {
  padding-top: 120px;
  max-width: 644px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 980px) {
    .page-container {
      padding-top: 86px; } }
  .page-container--large {
    max-width: 980px; }
  .page-container--pad-t-0 {
    padding-top: 0px; }

.page-header {
  margin-bottom: 39px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfe0; }
  @media (max-width: 980px) {
    .page-header {
      padding-left: 20px;
      padding-right: 20px; } }

.page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  text-align: left;
  color: #2a292d; }
  .page-title--centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 39px;
    margin-bottom: 60px;
    border-bottom: 1px solid #dfdfe0; }
    .page-title--centered--white {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    @media (max-width: 980px) {
      .page-title--centered {
        padding-bottom: 24px;
        margin-left: 20px;
        margin-right: 20px; } }
  .page-title--white {
    color: #FFFFFF; }
  @media (max-width: 980px) {
    .page-title {
      font-size: 24px; } }

.page-description {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  text-align: left;
  color: #7e7f82; }
  @media (max-width: 980px) {
    .page-description {
      margin-left: 20px;
      margin-right: 20px; } }
  .page-description b {
    color: #2a292d;
    font-weight: 500; }

.pagination-title {
  height: 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 3;
  color: #7e7f82; }
  @media (max-width: 980px) {
    .pagination-title {
      height: 16px;
      font-size: 8px;
      font-weight: 500; } }

.button {
  max-width: 150px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 100px;
  background-color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  line-height: 2.4;
  letter-spacing: 1.5px;
  text-align: left;
  color: #2a292d;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  transition: .2s ease; }
  .button:hover {
    opacity: 0.75; }

.homepage {
  padding-top: 60px; }
  .homepage-topsection {
    position: fixed;
    width: 100%; }
  .homepage .hero-wrapper {
    position: relative; }
    .homepage .hero-wrapper .slick-dots {
      margin: 0;
      position: relative;
      top: -30px; }
    .homepage .hero-wrapper .headline-margins {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0px; }
    .homepage .hero-wrapper .headline-wrapper {
      max-width: 800px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: 118px; }
      @media (max-width: 980px) {
        .homepage .hero-wrapper .headline-wrapper {
          top: 40px;
          padding-left: 40px; } }
      @media (max-width: 980px) {
        .homepage .hero-wrapper .headline-wrapper .button {
          max-width: 40px;
          padding: 0px;
          width: 40px;
          height: 40px;
          justify-content: center; }
          .homepage .hero-wrapper .headline-wrapper .button span {
            display: none; } }
    .homepage .hero-wrapper .headline {
      margin-bottom: 60px;
      font-family: "Montserrat", sans-serif;
      font-size: 80px;
      text-align: left;
      color: #FFFFFF;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
      @media (max-width: 980px) {
        .homepage .hero-wrapper .headline {
          margin-bottom: 20px;
          font-size: 32px;
          line-height: 1.25; } }
  .homepage .hero-carousel .slick-slide:focus, .homepage .hero-carousel .slick-slide:active {
    outline: none; }
  .homepage .hero {
    height: 660px;
    background-image: url("/static/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    @media (max-width: 980px) {
      .homepage .hero {
        padding-top: 40px;
        height: 400px; } }
  .homepage .homepage-body {
    padding-top: 1px;
    position: relative;
    top: 660px;
    background-color: white;
    z-index: 2; }
    @media (max-width: 980px) {
      .homepage .homepage-body {
        padding-top: 0px;
        top: 440px; } }
  .homepage .info-brick {
    margin: 20px;
    height: 508px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("/static/img/Hi10_hp.png");
    background-repeat: no-repeat;
    background-position: center; }
    @media (max-width: 980px) {
      .homepage .info-brick {
        height: auto;
        margin: 0px;
        justify-content: center;
        background-color: #f6f6f6;
        background-image: none; } }
    .homepage .info-brick .content-wrap {
      max-width: 561px;
      width: 100%;
      padding-right: 200px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media (max-width: 980px) {
        .homepage .info-brick .content-wrap {
          padding: 20px;
          padding-top: 40px;
          padding-bottom: 40px; } }
    .homepage .info-brick .headline {
      padding-bottom: 20px;
      margin-bottom: 40px;
      font-family: "Montserrat", sans-serif;
      font-size: 48px;
      font-weight: 300;
      line-height: 1.17;
      text-align: center;
      color: #FFFFFF;
      border-bottom: 1px solid #FFFFFF; }
      @media (max-width: 980px) {
        .homepage .info-brick .headline {
          width: 100%;
          color: #2a292d;
          border-bottom: 1px solid #dfdfe0;
          font-size: 24px;
          font-weight: 300;
          line-height: 1.33; } }
    .homepage .info-brick .copy {
      margin-bottom: 48px;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      line-height: 1.6;
      text-align: center;
      color: #FFFFFF; }
      @media (max-width: 980px) {
        .homepage .info-brick .copy {
          font-size: 14px;
          line-height: 1.71;
          text-align: center;
          color: #2a292d; } }
  .homepage .features {
    padding-top: 90px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 860px; }
    @media (max-width: 980px) {
      .homepage .features {
        padding: 20px;
        padding-top: 40px; } }
    .homepage .features .content-wrap {
      max-width: 860px; }
    .homepage .features .headline {
      max-width: 600px;
      padding-bottom: 31px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
      border-bottom: 1px solid #dfdfe0;
      font-family: "Montserrat", sans-serif;
      font-size: 48px;
      font-weight: 300;
      line-height: 1.17;
      text-align: center;
      color: #2a292d; }
      @media (max-width: 980px) {
        .homepage .features .headline {
          width: 100%;
          color: #2a292d;
          border-bottom: 1px solid #dfdfe0;
          font-size: 24px;
          font-weight: 300;
          line-height: 1.33; } }
    .homepage .features .feature-row {
      display: flex;
      margin-bottom: 60px; }
      .homepage .features .feature-row:active, .homepage .features .feature-row:focus {
        outline: none; }
      @media (max-width: 980px) {
        .homepage .features .feature-row {
          flex-direction: column;
          margin-bottom: 0px; } }
    .homepage .features .feature {
      width: 224px;
      min-width: 224px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      @media (max-width: 980px) {
        .homepage .features .feature {
          width: 170px;
          min-width: 170px; } }
      .homepage .features .feature-container {
        display: flex;
        justify-content: center; }
        @media (max-width: 980px) {
          .homepage .features .feature-container {
            margin-bottom: 20px;
            align-items: end; } }
      .homepage .features .feature-carousel .slick-dots li.slick-active {
        background-color: #274ecc; }
      .homepage .features .feature-carousel .slick-dots li {
        background-color: #dfdfe0; }
      .homepage .features .feature-icon {
        height: 112px;
        width: 112px;
        margin-bottom: 20px; }
      .homepage .features .feature-title {
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: bold;
        line-height: 2.8;
        letter-spacing: 1.5px;
        text-align: center;
        color: #2a292d;
        text-transform: uppercase; }

.products {
  display: flex;
  width: 100%; }
  @media (max-width: 980px) {
    .products {
      flex-direction: column; } }
  .products__filters {
    width: 224px;
    max-width: 224px;
    position: relative; }
    @media (max-width: 980px) {
      .products__filters {
        max-width: 600px;
        width: 87.5%;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid #dfdfe0;
        border-left: 1px solid #dfdfe0;
        border-right: 1px solid #dfdfe0; } }
  .products__filter {
    margin-bottom: 28px;
    background-color: #FFFFFF; }
    @media (max-width: 980px) {
      .products__filter {
        margin-bottom: 0px; } }
    .products__filter__container {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.2s ease-out; }
    .products__filter__header {
      height: 44px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #dfdfe0;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: bold;
      line-height: 2.8;
      letter-spacing: 1.5px;
      text-align: left;
      color: #2a292d;
      text-transform: uppercase; }
      @media (max-width: 980px) {
        .products__filter__header {
          height: 51px;
          color: #274ecc; }
          .products__filter__header:hover {
            cursor: pointer; } }
    .products__filter__mobile-header {
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFFFFF;
      color: #274ecc;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: bold;
      line-height: 2.8;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      border-bottom: 1px solid #dfdfe0; }
      @media (min-width: 981px) {
        .products__filter__mobile-header {
          display: none; } }
      .products__filter__mobile-header:hover {
        cursor: pointer; }
    .products__filter__icon {
      margin-right: 12px; }
    .products__filter__mobile-close {
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFFFFF;
      color: #2a292d;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: bold;
      line-height: 2.8;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      border-bottom: 1px solid #dfdfe0; }
      .products__filter__mobile-close svg {
        margin-right: 6px; }
      @media (min-width: 981px) {
        .products__filter__mobile-close {
          display: none; } }
      .products__filter__mobile-close:hover {
        cursor: pointer; }
    .products__filter__options {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.2s ease-out; }
    .products__filter__option {
      height: 47px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      border-bottom: 1px solid #dfdfe0;
      font-size: 14px;
      line-height: 2.29;
      text-align: left;
      color: #7e7f82; }
      .products__filter__option:last-child {
        border-bottom: none; }
        @media (max-width: 980px) {
          .products__filter__option:last-child {
            border-bottom: 1px solid #dfdfe0; } }
      .products__filter__option input[type="radio"] {
        display: none; }
      .products__filter__option input[type="checkbox"] {
        display: none; }
      .products__filter__option input[type="radio"] + label, .products__filter__option input[type="checkbox"] + label {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%; }
        .products__filter__option input[type="radio"] + label:hover, .products__filter__option input[type="checkbox"] + label:hover {
          cursor: pointer; }
      .products__filter__option input[type="radio"] + label span {
        width: 12px;
        height: 12px;
        margin-right: 16px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        -moz-border-radius: 50%;
        border-radius: 50%;
        color: white;
        align-items: center; }
        .products__filter__option input[type="radio"] + label span div {
          height: 4px;
          width: 4px;
          background-color: #FFFFFF;
          border-radius: 50%; }
      .products__filter__option input[type="checkbox"] + label span {
        display: inline-block;
        width: 12px;
        height: 12px;
        display: flex;
        justify-content: center;
        margin-right: 16px;
        cursor: pointer;
        color: white;
        align-items: center; }
      .products__filter__option input[type="checkbox"] + label span {
        border: 2px solid #dfdfe0; }
      .products__filter__option input[type="radio"] + label span {
        border: 2px solid #dfdfe0; }
      .products__filter__option input[type="radio"]:checked + label span {
        background-color: #274ecc;
        border: 2px solid #274ecc; }
      .products__filter__option input[type="checkbox"] + label span {
        border: 2px solid #dfdfe0; }
      .products__filter__option input[type="checkbox"]:checked + label span {
        background-color: #274ecc;
        border: 2px solid #274ecc; }
      .products__filter__option input[type="radio"] + label span,
      .products__filter__option input[type="radio"]:checked + label span,
      .products__filter__option input[type="checkbox"] + label span,
      .products__filter__option input[type="checkbox"]:checked + label span {
        transition: .2s ease; }
  .products__grid {
    display: flex;
    flex-direction: column;
    position: relative; }
    @media (max-width: 980px) {
      .products__grid {
        margin-top: 28px; } }
  .products__row {
    display: flex;
    margin-bottom: 28px;
    margin-left: 28px; }
    @media (max-width: 980px) {
      .products__row {
        margin: 0px;
        flex-direction: column; } }
  .products__product {
    height: 520px;
    width: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF; }
    @media (max-width: 980px) {
      .products__product {
        height: 104px;
        width: 100%;
        flex-direction: row; } }
    .products__product:nth-child(1) {
      margin-right: 28px; }
      @media (max-width: 980px) {
        .products__product:nth-child(1) {
          margin-right: 0px; } }
  .products__product-image {
    height: 352px;
    min-height: 352px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: .2s ease; }
    @media (max-width: 980px) {
      .products__product-image {
        min-height: 104px;
        min-width: 104px;
        height: 104px;
        width: 104px; } }
    .products__product-image:hover {
      cursor: pointer;
      transform: scale(1.1); }
  .products__product-detail {
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    background-color: white; }
    @media (max-width: 980px) {
      .products__product-detail {
        max-width: 496px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        height: 104px;
        border-top: 1px solid #dfdfe0; }
        .products__product-detail--no-border-m {
          border-top: none; } }
  .products__product-arrow-mobile {
    position: absolute;
    right: 20px; }
    @media (min-width: 981px) {
      .products__product-arrow-mobile {
        display: none; } }
  .products__product-title {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 1px;
    color: #2a292d; }
    @media (max-width: 980px) {
      .products__product-title {
        text-align: left;
        font-size: 12px;
        line-height: 1.67; } }
  .products__product-description {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 1px;
    color: #2a292d;
    text-align: center; }
    @media (max-width: 980px) {
      .products__product-description {
        padding-right: 40px;
        text-align: left;
        font-size: 10px;
        line-height: 1.6; } }
  .products__new-tag {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: -50px;
    top: -50px;
    height: 100px;
    width: 100px;
    background-color: #274ecc;
    transform: rotate(-45deg);
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1; }
    @media (max-width: 980px) {
      .products__new-tag {
        height: 60px;
        width: 60px;
        left: -30px;
        top: -30px;
        font-size: 8px; } }
    .products__new-tag span {
      padding-bottom: 10px; }
      @media (max-width: 980px) {
        .products__new-tag span {
          padding-bottom: 4px; } }

.quote-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;
  height: 380px;
  width: 100%;
  background-color: #FFFFFF; }
  .quote-block--b-top {
    border-top: 1px solid #dfdfe0; }
  @media (max-width: 980px) {
    .quote-block {
      height: 320px;
      margin-top: 0px; } }
  .quote-block__secondary {
    margin-bottom: 22px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #7e7f82; }
  .quote-block__subheadline {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    text-align: center;
    color: #2a292d; }
    .quote-block__subheadline--no-margin {
      margin-bottom: 0px; }
    @media (max-width: 980px) {
      .quote-block__subheadline {
        font-size: 12px;
        margin-bottom: 16px; } }
  .quote-block__headline-wrap {
    margin-bottom: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px; }
    @media (max-width: 980px) {
      .quote-block__headline-wrap {
        margin-bottom: 7px; } }
  .quote-block__headline {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: 2px;
    color: #274ecc;
    text-transform: uppercase; }
    @media (max-width: 980px) {
      .quote-block__headline {
        font-size: 16px; } }
  @media (min-width: 981px) {
    .quote-block__mobile-arrow {
      display: none; } }
  .quote-block__button {
    position: relative;
    margin-left: 10px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #dfdfe0;
    border-radius: 50%;
    overflow: hidden;
    transition: .3s ease; }
    @media (max-width: 980px) {
      .quote-block__button {
        border: none;
        margin-left: 0px; } }
    .quote-block__button:hover {
      cursor: pointer;
      border: solid 2px #2a292d; }
      @media (max-width: 980px) {
        .quote-block__button:hover {
          border: none; } }
    .quote-block__button--white {
      cursor: pointer;
      border: solid 2px rgba(255, 255, 255, 0.3); }
      .quote-block__button--white:hover {
        border: solid 2px #FFFFFF; }
    .quote-block__button svg {
      position: absolute;
      transition: .3s ease; }
      .quote-block__button svg.first {
        transform: translateX(-42px); }
        .quote-block__button svg.first--active {
          transform: translateX(0px); }
      .quote-block__button svg.last {
        transform: translateX(0px); }
        .quote-block__button svg.last--hidden {
          transform: translateX(42px); }
  .quote-block__seperator {
    margin-bottom: 60px;
    width: 100%;
    max-width: 600px;
    height: 1px;
    background-color: #dfdfe0; }
    @media (max-width: 980px) {
      .quote-block__seperator {
        max-width: 280px;
        margin-bottom: 56px; } }
  .quote-block__copyright {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #7e7f82; }
    @media (max-width: 980px) {
      .quote-block__copyright {
        position: absolute;
        bottom: 24px;
        font-size: 8px;
        line-height: 2; } }

.contact-types {
  margin-bottom: 39px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dfdfe0; }
  @media (max-width: 980px) {
    .contact-types {
      margin-left: 20px;
      margin-right: 20px; } }
  .contact-types--no-border {
    margin-bottom: 0px;
    border: none; }
  .contact-types__row {
    display: flex;
    margin-bottom: 40px; }
    @media (max-width: 980px) {
      .contact-types__row {
        flex-direction: column;
        margin-bottom: 0px; } }
  .contact-types__type {
    width: 288px;
    min-height: 84px;
    display: flex; }
    @media (max-width: 980px) {
      .contact-types__type {
        margin-bottom: 24px; } }
    .contact-types__type:first-child {
      margin-right: 48px; }
    .contact-types__type__icon {
      min-width: 28px;
      max-width: 28px; }
    .contact-types__type__info {
      padding-left: 36px; }
      .contact-types__type__info-header {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.75;
        color: #2a292d; }
      .contact-types__type__info-detail {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        line-height: 1.75;
        color: #80838e; }
        .contact-types__type__info-detail b {
          font-weight: 500;
          color: #2a292d; }

.inquiry-form__header {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  color: #2a292d;
  text-align: center; }

.inquiry-form__subheader {
  margin-bottom: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #7e7f82; }

.inquiry-form form {
  max-width: 475px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.inquiry-form .error-message {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #ff7474; }

.inquiry-form .input-wrap {
  width: 100%;
  height: 52px;
  display: flex;
  margin-bottom: 8px; }
  .inquiry-form .input-wrap--textarea {
    height: 168px; }
  .inquiry-form .input-wrap__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; }
    .inquiry-form .input-wrap__submit button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      width: 150px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 50px;
      border: 2px solid #dfdfe0;
      background-color: #ffffff;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      line-height: 2.4;
      letter-spacing: 1.5px;
      text-align: left;
      color: #2a292d; }
      .inquiry-form .input-wrap__submit button:hover {
        cursor: pointer; }
      .inquiry-form .input-wrap__submit button:focus, .inquiry-form .input-wrap__submit button:active {
        outline: 0; }
  .inquiry-form .input-wrap__label {
    display: flex;
    position: relative;
    height: 52px;
    max-width: 120px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: left;
    color: #2a292d;
    background-color: #e4e4e7;
    text-transform: uppercase; }
    .inquiry-form .input-wrap__label span {
      position: absolute;
      left: 20px;
      top: 20px; }
    .inquiry-form .input-wrap__label--error {
      color: #ff7474;
      background-color: rgba(255, 116, 116, 0.2); }
    .inquiry-form .input-wrap__label--textarea {
      height: 168px; }
  .inquiry-form .input-wrap__input {
    height: 52px;
    width: 100%;
    background-color: #f6f6f6; }
    .inquiry-form .input-wrap__input--error {
      background-color: rgba(255, 116, 116, 0.1); }
    .inquiry-form .input-wrap__input--textarea {
      height: 168px; }
    .inquiry-form .input-wrap__input input {
      width: 100%;
      height: 52px;
      padding: 0px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0px;
      background-color: transparent;
      border: 0px;
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #2a292d; }
      .inquiry-form .input-wrap__input input:focus, .inquiry-form .input-wrap__input input:active {
        outline: 0; }
    .inquiry-form .input-wrap__input textarea {
      width: 100%;
      height: 168px;
      padding: 20px;
      margin: 0px;
      resize: none;
      background-color: transparent;
      border: 0px;
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #2a292d; }
      .inquiry-form .input-wrap__input textarea:focus, .inquiry-form .input-wrap__input textarea:active {
        outline: 0; }

.footer {
  margin-top: 200px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #7e7f82;
  border-top: 1px solid #dfdfe0; }
  @media (max-width: 980px) {
    .footer {
      margin-left: 20px;
      margin-right: 20px; } }

@media (max-width: 980px) {
  .feature-products {
    display: flex;
    flex-direction: column-reverse; } }

.feature-products__row {
  display: flex;
  flex: 1; }
  @media (max-width: 980px) {
    .feature-products__row {
      flex-direction: column-reverse; } }

.feature-products__block {
  min-height: 432px;
  height: auto;
  display: flex;
  width: 60%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 980px) {
    .feature-products__block {
      width: 100%;
      min-height: auto;
      height: 192px; } }
  .feature-products__block-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.22;
    text-align: left;
    color: #ffffff; }
    @media (max-width: 980px) {
      .feature-products__block-title {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.33; } }
  .feature-products__block__content {
    padding-left: 15%; }
  .feature-products__block__title {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: #ffffff; }
  .feature-products__block__copy {
    margin-bottom: 48px;
    max-width: 400px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    color: #959498; }
  .feature-products__block__cta a {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 2.4;
    letter-spacing: 1.5px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none; }
    .feature-products__block__cta a img {
      margin-left: 10px; }
  .feature-products__block--one {
    background-image: url("/static/img/HWL83_hp.png"); }
  .feature-products__block--two {
    background-image: url("/static/img/T1305_hp.png"); }
  .feature-products__block--three {
    background-image: url("/static/img/Hi20_hp.png"); }
  .feature-products__block--four {
    display: flex;
    align-items: center;
    background-color: #1f1e22; }
    @media (max-width: 980px) {
      .feature-products__block--four {
        height: auto !important;
        min-height: auto !important;
        padding-top: 40px;
        padding-bottom: 40px; } }
  .feature-products__block:before {
    content: '';
    padding-top: 50%; }

.clients {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #274ecc; }
  @media (max-width: 980px) {
    .clients {
      padding-top: 40px;
      padding-bottom: 10px; } }
  .clients .headline-wrap {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    @media (max-width: 980px) {
      .clients .headline-wrap {
        width: auto;
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 28px; } }
  .clients .headline {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.17;
    text-align: center;
    color: #ffffff; }
    @media (max-width: 980px) {
      .clients .headline {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.33; } }
  .clients .subheader {
    margin-bottom: 11px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #ffffff; }
    @media (max-width: 980px) {
      .clients .subheader {
        font-size: 14px;
        line-height: 1.71; } }
  .clients .content-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px; }
    @media (max-width: 980px) {
      .clients .content-wrap {
        padding-left: 20px;
        padding-right: 20px; } }
  .clients .client-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 980px) {
      .clients .client-row {
        display: none; } }
  .clients .client-slide {
    display: flex;
    flex-direction: column; }
    @media (min-width: 981px) {
      .clients .client-slide {
        display: none; } }
    .clients .client-slide__row {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around; }
  .clients .client img {
    height: 100px;
    width: 100px; }
    @media (max-width: 980px) {
      .clients .client img {
        height: 80px;
        width: 80px; } }
  .clients .slick-slide:focus, .clients .slick-slide:active {
    outline: none; }
  @media (min-width: 981px) {
    .clients .js_client-carousel {
      display: none; } }

.see-more-block {
  margin-top: 100px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #274ecc; }
  .see-more-block__text {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 4.4;
    letter-spacing: 1.5px;
    text-align: right;
    color: #FFFFFF;
    text-transform: uppercase; }

.advertisements {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #2a292d; }
  @media (max-width: 980px) {
    .advertisements {
      padding-top: 40px;
      padding-bottom: 16px; } }
  .advertisements a:active, .advertisements a:focus {
    outline: none; }
  @media (max-width: 980px) {
    .advertisements__gallery {
      margin-left: auto;
      margin-right: auto;
      max-width: 478px; } }
  @media (max-width: 475px) {
    .advertisements__gallery {
      margin-left: auto;
      margin-right: auto;
      max-width: 280px; } }
  .advertisements__gallery__mobile-row {
    display: flex;
    margin-bottom: 20px; }
  .advertisements__gallery__row {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    @media (max-width: 980px) {
      .advertisements__gallery__row {
        flex-direction: column;
        align-items: flex-start; } }
  .advertisements__gallery__closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90% !important;
    width: 100px !important;
    left: calc(50% - 50px);
    color: transparent !important;
    background-image: url("/static/img/closeX.svg") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-size: 10px !important;
    background-position-y: 39.5px !important;
    background-position-x: 10px !important; }
    .advertisements__gallery__closeBtn:focus, .advertisements__gallery__closeBtn:active {
      outline: none; }
    .advertisements__gallery__closeBtn:before {
      content: 'Close';
      font-family: "Montserrat", sans-serif !important;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      line-height: 2;
      letter-spacing: 1px;
      color: white !important;
      opacity: 1 !important;
      height: 13px !important;
      width: 13px !important;
      left: calc(50% - 6.5px) !important;
      top: calc(50% - 6.5px) !important;
      margin: 0 !important;
      border: none !important; }
  .advertisements__gallery__nextBtn {
    height: 32px !important;
    width: 32px !important;
    margin-top: 0px !important;
    right: calc(50% - 350px) !important;
    border-top: 50px !important;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3) !important;
    opacity: 1 !important;
    transition: .2s ease !important; }
    .advertisements__gallery__nextBtn:hover {
      opacity: .5 !important; }
    .advertisements__gallery__nextBtn:focus, .advertisements__gallery__nextBtn:active {
      outline: none; }
    .advertisements__gallery__nextBtn:before {
      height: 13px !important;
      width: 13px !important;
      left: calc(50% - 6.5px) !important;
      top: calc(50% - 6.5px) !important;
      margin: 0 !important;
      border: none !important;
      background-image: url("/static/img/arrow_white.svg") !important;
      background-repeat: no-repeat !important;
      background-size: contain !important; }
  .advertisements__gallery__previousBtn {
    height: 32px !important;
    width: 32px !important;
    margin-top: 0px !important;
    left: calc(50% - 350px) !important;
    border-top: 50px !important;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3) !important;
    opacity: 1 !important;
    transition: .2s ease !important; }
    .advertisements__gallery__previousBtn:hover {
      opacity: .5 !important; }
    .advertisements__gallery__previousBtn:focus, .advertisements__gallery__previousBtn:active {
      outline: none; }
    .advertisements__gallery__previousBtn:before {
      height: 13px !important;
      width: 13px !important;
      left: calc(50% - 6.5px) !important;
      top: calc(50% - 6.5px) !important;
      margin: 0 !important;
      border: none !important;
      background-image: url("/static/img/arrow_white.svg") !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH"; }
  .advertisements__advertisement {
    margin-left: 14px;
    margin-right: 14px; }
    @media (max-width: 475px) {
      .advertisements__advertisement {
        margin-left: 10px;
        margin-right: 10px; } }
    .advertisements__advertisement--m-l-0 {
      margin-left: 0px; }
    .advertisements__advertisement--m-r-0 {
      margin-right: 0px; }
    @media (max-width: 980px) {
      .advertisements__advertisement--m-l-0-m {
        margin-left: 0px; }
      .advertisements__advertisement--m-r-0-m {
        margin-right: 0px; } }
    .advertisements__advertisement img {
      height: 187px;
      width: 140px; }
      @media (max-width: 475px) {
        .advertisements__advertisement img {
          height: 107px;
          width: 80px; } }

.product-details__hero {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #1f1e22; }
  @media (max-width: 980px) {
    .product-details__hero {
      padding-top: 100px;
      padding-bottom: 0px; } }

.product-details__content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }

.product-details__title {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.17;
  text-align: center;
  color: #ffffff; }

.product-details__subtitle {
  margin-bottom: 60px;
  max-width: 392px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #ffffff; }
  @media (max-width: 980px) {
    .product-details__subtitle {
      margin-bottom: 24px; } }

.product-details__photos--primary {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px; }
  @media (max-width: 980px) {
    .product-details__photos--primary {
      margin-bottom: 0px; } }
  .product-details__photos--primary .slick-dots {
    top: -20px;
    position: relative; }
  @media (max-width: 980px) {
    .product-details__photos--primary .slick-list {
      bottom: -24px; } }
  .product-details__photos--primary img {
    width: 100%;
    height: auto;
    max-height: 584px; }
    .product-details__photos--primary img:active, .product-details__photos--primary img:focus {
      outline: none; }

.product-details__photos--secondary-container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  @media (max-width: 980px) {
    .product-details__photos--secondary-container {
      display: none; } }

.product-details__photos--secondary {
  max-width: 812px;
  margin-left: auto;
  margin-right: auto; }
  .product-details__photos--secondary img {
    height: 100px;
    width: 140px;
    max-width: 140px; }
    .product-details__photos--secondary img:active, .product-details__photos--secondary img:focus {
      outline: none; }
  .product-details__photos--secondary .slick-slide {
    opacity: 0.15; }
  .product-details__photos--secondary .slick-current {
    opacity: 1; }

.product-details__next {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10%;
  top: calc(50% - 16px);
  background-color: transparent;
  border: solid 2px rgba(255, 255, 255, 0.3);
  border-radius: 50%; }
  .product-details__next:hover {
    cursor: pointer; }
  .product-details__next:active, .product-details__next:focus {
    outline: none; }
  .product-details__next img {
    height: 13px;
    width: 13px; }

.product-details__previous {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10%;
  top: calc(50% - 16px);
  background-color: transparent;
  border: solid 2px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }
  .product-details__previous:hover {
    cursor: pointer; }
  .product-details__previous:active, .product-details__previous:focus {
    outline: none; }
  .product-details__previous img {
    height: 13px;
    width: 13px; }

.product-details__model-header {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 980px) {
    .product-details__model-header {
      padding-top: 5px;
      padding-bottom: 20px; } }

.product-details__model {
  width: 308px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececee;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #7e7f82; }

.product-details__columns {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 980px) {
    .product-details__columns {
      align-items: center;
      flex-direction: column; } }

.product-details__column {
  width: 476px;
  padding-top: 20px;
  border-top: 1px solid #dfdfe0; }
  @media (max-width: 980px) {
    .product-details__column {
      max-width: 476px;
      width: 100%; }
      .product-details__column:nth-child(2) {
        border-top: none;
        padding-top: 0px; } }
  .product-details__column__title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.67;
    text-align: left;
    color: #2a292d; }
    @media (max-width: 980px) {
      .product-details__column__title {
        padding-left: 20px;
        padding-right: 20px; } }
    .product-details__column__title--centered {
      text-align: center;
      margin-bottom: 20px; }
      @media (max-width: 980px) {
        .product-details__column__title--centered {
          margin-bottom: 0px;
          text-align: left; } }
  .product-details__column__description {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #7e7f82; }
    @media (max-width: 980px) {
      .product-details__column__description {
        text-align: left; } }

.product-details__features-column ul {
  margin-left: 0px;
  padding-left: 17px;
  border-bottom: 1px solid #dfdfe0;
  padding-bottom: 30px; }
  @media (max-width: 980px) {
    .product-details__features-column ul {
      padding-left: 40px;
      padding-right: 20px; } }

.product-details__features-column li {
  margin-bottom: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  text-align: left;
  color: #2a292d; }
  .product-details__features-column li span {
    color: #7e7f82; }
  .product-details__features-column li b {
    display: block;
    color: #2a292d;
    font-weight: 400; }

.slick-slide:hover {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.slick-slide:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

.slick-dots {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }
  .slick-dots li {
    display: flex;
    justify-content: center;
    height: 8px;
    width: 8px;
    border-radius: 50px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: rgba(255, 255, 255, 0.3); }
    .slick-dots li:hover {
      cursor: pointer; }
    .slick-dots li.slick-active {
      background-color: #FFFFFF; }
  .slick-dots button {
    height: 8px;
    width: 8px;
    color: transparent;
    background-color: transparent;
    border: none;
    border-radius: 50%; }
    .slick-dots button:hover {
      cursor: pointer; }
    .slick-dots button:focus, .slick-dots button:active {
      outline: none; }
  .slick-dots .slick-active button {
    height: 8px;
    width: 8px;
    color: transparent;
    border: none;
    border-radius: 50%; }
