body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6; }

.d-none {
  display: none; }

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a292d; }
  .navbar--sticky {
    position: fixed; }
  .navbar__link-wrap {
    display: flex;
    align-items: center; }
  .navbar__contact-link {
    height: 60px;
    width: 206px;
    line-height: 60px;
    text-align: center;
    background-color: #274ecc;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px; }
  .navbar__link {
    margin-left: 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #7e7f82;
    transition: .2s ease; }
    .navbar__link:hover {
      color: #FFFFFF; }
  .navbar .logo {
    height: 20px;
    padding-left: 20px; }

.hotel_technologies {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px; }
  @media (max-width: 980px) {
    .hotel_technologies {
      padding-top: 24px;
      max-width: 600px;
      width: 100%; } }

.page-header {
  margin-bottom: 39px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfe0; }
  @media (max-width: 980px) {
    .page-header {
      padding-left: 20px;
      padding-right: 20px; } }

.page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  text-align: left;
  color: #2a292d; }
  @media (max-width: 980px) {
    .page-title {
      font-size: 24px; } }

.pagination-title {
  height: 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 3;
  color: #7e7f82; }
  @media (max-width: 980px) {
    .pagination-title {
      height: 16px;
      font-size: 8px; } }

.products {
  display: flex;
  width: 100%; }
  @media (max-width: 980px) {
    .products {
      flex-direction: column; } }
  .products__filters {
    width: 224px;
    max-width: 224px;
    position: relative; }
    @media (max-width: 980px) {
      .products__filters {
        max-width: 600px;
        width: 87.5%;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid #dfdfe0;
        border-left: 1px solid #dfdfe0;
        border-right: 1px solid #dfdfe0; } }
  .products__filter {
    margin-bottom: 28px;
    background-color: #FFFFFF; }
    @media (max-width: 980px) {
      .products__filter {
        margin-bottom: 0px; } }
    .products__filter__container {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.2s ease-out; }
    .products__filter__header {
      height: 44px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #dfdfe0;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: bold;
      line-height: 2.8;
      letter-spacing: 1.5px;
      text-align: left;
      color: #2a292d;
      text-transform: uppercase; }
      @media (max-width: 980px) {
        .products__filter__header {
          height: 51px;
          color: #274ecc; }
          .products__filter__header:hover {
            cursor: pointer; } }
    .products__filter__mobile-header {
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFFFFF;
      color: #274ecc;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: bold;
      line-height: 2.8;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      border-bottom: 1px solid #dfdfe0; }
      @media (min-width: 981px) {
        .products__filter__mobile-header {
          display: none; } }
      .products__filter__mobile-header:hover {
        cursor: pointer; }
    .products__filter__icon {
      margin-right: 12px; }
    .products__filter__mobile-close {
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFFFFF;
      color: #2a292d;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: bold;
      line-height: 2.8;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      border-bottom: 1px solid #dfdfe0; }
      .products__filter__mobile-close svg {
        margin-right: 6px; }
      @media (min-width: 981px) {
        .products__filter__mobile-close {
          display: none; } }
      .products__filter__mobile-close:hover {
        cursor: pointer; }
    .products__filter__options {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.2s ease-out; }
    .products__filter__option {
      height: 47px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      border-bottom: 1px solid #dfdfe0;
      font-size: 14px;
      line-height: 2.29;
      text-align: left;
      color: #7e7f82; }
      .products__filter__option:last-child {
        border-bottom: none; }
        @media (max-width: 980px) {
          .products__filter__option:last-child {
            border-bottom: 1px solid #dfdfe0; } }
      .products__filter__option input[type="radio"] {
        display: none; }
      .products__filter__option input[type="checkbox"] {
        display: none; }
      .products__filter__option input[type="radio"] + label, .products__filter__option input[type="checkbox"] + label {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%; }
        .products__filter__option input[type="radio"] + label:hover, .products__filter__option input[type="checkbox"] + label:hover {
          cursor: pointer; }
      .products__filter__option input[type="radio"] + label span {
        width: 12px;
        height: 12px;
        margin-right: 16px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        -moz-border-radius: 50%;
        border-radius: 50%;
        color: white;
        align-items: center; }
        .products__filter__option input[type="radio"] + label span div {
          height: 4px;
          width: 4px;
          background-color: #FFFFFF;
          border-radius: 50%; }
      .products__filter__option input[type="checkbox"] + label span {
        display: inline-block;
        width: 12px;
        height: 12px;
        display: flex;
        justify-content: center;
        margin-right: 16px;
        cursor: pointer;
        color: white;
        align-items: center; }
      .products__filter__option input[type="checkbox"] + label span {
        border: 2px solid #dfdfe0; }
      .products__filter__option input[type="radio"] + label span {
        border: 2px solid #dfdfe0; }
      .products__filter__option input[type="radio"]:checked + label span {
        background-color: #274ecc;
        border: 2px solid #274ecc; }
      .products__filter__option input[type="checkbox"] + label span {
        border: 2px solid #dfdfe0; }
      .products__filter__option input[type="checkbox"]:checked + label span {
        background-color: #274ecc;
        border: 2px solid #274ecc; }
      .products__filter__option input[type="radio"] + label span,
      .products__filter__option input[type="radio"]:checked + label span,
      .products__filter__option input[type="checkbox"] + label span,
      .products__filter__option input[type="checkbox"]:checked + label span {
        transition: .2s ease; }
  .products__grid {
    display: flex;
    flex-direction: column;
    position: relative; }
    @media (max-width: 980px) {
      .products__grid {
        margin-top: 28px; } }
  .products__row {
    display: flex;
    margin-bottom: 28px;
    margin-left: 28px; }
    @media (max-width: 980px) {
      .products__row {
        margin: 0px;
        flex-direction: column; } }
  .products__product {
    height: 520px;
    width: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF; }
    @media (max-width: 980px) {
      .products__product {
        height: 104px;
        width: 100%;
        flex-direction: row; } }
    .products__product:nth-child(1) {
      margin-right: 28px; }
      @media (max-width: 980px) {
        .products__product:nth-child(1) {
          margin-right: 0px; } }
  .products__product-image {
    height: 352px;
    min-height: 352px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: .2s ease; }
    @media (max-width: 980px) {
      .products__product-image {
        min-height: 104px;
        min-width: 104px;
        height: 104px;
        width: 104px; } }
    .products__product-image:hover {
      cursor: pointer;
      transform: scale(1.1); }
  .products__product-detail {
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    background-color: white; }
    @media (max-width: 980px) {
      .products__product-detail {
        max-width: 496px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        height: 104px;
        border-top: 1px solid #dfdfe0; }
        .products__product-detail--no-border-m {
          border-top: none; } }
  .products__product-arrow-mobile {
    position: absolute;
    right: 20px; }
    @media (min-width: 981px) {
      .products__product-arrow-mobile {
        display: none; } }
  .products__product-title {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 1px;
    color: #2a292d; }
    @media (max-width: 980px) {
      .products__product-title {
        text-align: left;
        font-size: 12px;
        line-height: 1.67; } }
  .products__product-description {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 1px;
    color: #2a292d;
    text-align: center; }
    @media (max-width: 980px) {
      .products__product-description {
        padding-right: 40px;
        text-align: left;
        font-size: 10px;
        line-height: 1.6; } }
  .products__new-tag {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: -50px;
    top: -50px;
    height: 100px;
    width: 100px;
    background-color: #274ecc;
    transform: rotate(-45deg);
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1; }
    @media (max-width: 980px) {
      .products__new-tag {
        height: 60px;
        width: 60px;
        left: -30px;
        top: -30px;
        font-size: 8px; } }
    .products__new-tag span {
      padding-bottom: 10px; }
      @media (max-width: 980px) {
        .products__new-tag span {
          padding-bottom: 4px; } }

.quote-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;
  height: 380px;
  width: 100%;
  background-color: #FFFFFF; }
  @media (max-width: 980px) {
    .quote-block {
      height: 320px;
      margin-top: 0px; } }
  .quote-block__subheadline {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    text-align: center;
    color: #2a292d; }
    @media (max-width: 980px) {
      .quote-block__subheadline {
        font-size: 12px;
        margin-bottom: 16px; } }
  .quote-block__headline-wrap {
    margin-bottom: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px; }
    @media (max-width: 980px) {
      .quote-block__headline-wrap {
        margin-bottom: 7px; } }
  .quote-block__headline {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: 2px;
    color: #274ecc;
    text-transform: uppercase; }
    @media (max-width: 980px) {
      .quote-block__headline {
        font-size: 16px; } }
  @media (min-width: 981px) {
    .quote-block__mobile-arrow {
      display: none; } }
  .quote-block__button {
    position: relative;
    margin-left: 10px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #dfdfe0;
    border-radius: 50%;
    overflow: hidden;
    transition: .3s ease; }
    @media (max-width: 980px) {
      .quote-block__button {
        border: none;
        margin-left: 0px; } }
    .quote-block__button:hover {
      cursor: pointer;
      border: solid 2px #2a292d; }
      @media (max-width: 980px) {
        .quote-block__button:hover {
          border: none; } }
    .quote-block__button svg {
      position: absolute;
      transition: .3s ease; }
      .quote-block__button svg.first {
        transform: translateX(-42px); }
        .quote-block__button svg.first--active {
          transform: translateX(0px); }
      .quote-block__button svg.last {
        transform: translateX(0px); }
        .quote-block__button svg.last--hidden {
          transform: translateX(42px); }
  .quote-block__seperator {
    margin-bottom: 60px;
    width: 100%;
    max-width: 600px;
    height: 1px;
    background-color: #dfdfe0; }
    @media (max-width: 980px) {
      .quote-block__seperator {
        max-width: 280px;
        margin-bottom: 56px; } }
  .quote-block__copyright {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #7e7f82; }
    @media (max-width: 980px) {
      .quote-block__copyright {
        position: absolute;
        bottom: 24px;
        font-size: 8px;
        line-height: 2; } }
