$primary_font: 'Montserrat', sans-serif;
$black: #2a292d;
$blue: #274ecc;
$light_grey: #7e7f82;
$pale_grey: #dfdfe0;
$dark_grey: #80838e;
$white: #FFFFFF;
$offwhite: #f6f6f6;


body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

.d-none { display: none; }

.desktop-only {
  @media (max-width: 980px) {
    display: none;
  }

}

// Hotel Technologies CSS

.navbar {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  background-color: $black;
  z-index: 3;

  &--sticky {
    position: fixed;
  }

  &__link-wrap {
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: 980px) {
      width: 100%;
      justify-content: center;
    }
  }

  &__mobile-menu {
    position: absolute;
    left: 20px;

    @media (min-width: 981px) {
      display: none;
    }

  }

  &__phone-email {
    position: absolute;
    display: flex;
    right: 20px;

    &:hover {
      cursor: pointer;
    }

    @media ( min-width: 981px ) {
      display: none;
    }


    &__separator {
      margin-left: 5px;
      margin-right: 5px;
      width: 2px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.3);
      transform: rotate(12deg)
    }
  }

  &__contact-link {
    height: 60px;
    width: 206px;

    line-height: 60px;
    text-align: center;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $primary_font;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;

    @media (max-width: 980px) {
      display: none;
    }
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__link {
    margin-left: 60px;

    font-family: $primary_font;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    color: $light_grey;
    transition: .2s ease;

    @media (max-width: 980px) {
      display: none;
    }

    &:hover {
      color: $white;
    }
  }

  .logo {
    height: 20px;
    padding-left: 20px;

    @media (max-width: 980px) {
      padding-left: 0px;
    }
  }

}

.mobile_navigation {
    opacity: 0;
    width: 100%;
    height: 0px;
    position: fixed;
    top: 60px;
    border-top: 2px solid rgba(255,255,255,0.1);
    z-index: 100;
    transition: .4s ease;
    overflow: hidden;
    background: linear-gradient(#2A292D 25%, #555457);

    a {
      text-decoration: none;
    }

    &.show {
      opacity: 1;
      height: calc(100% - 44px);
      max-height: 656px;
    }

    &__link {
      height: 82px;
      margin-left: 30px;
      display: flex;
      align-items: center;

      border-bottom: 2px solid rgba(255,255,255,0.1);
      font-family: $primary_font;
      color: $white;
      font-size: 14px;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 1px;
    }
}

.hotel_technologies {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;

  @media (max-width: 980px) {
    padding-top: 68px;
    max-width: 600px;
    width: 100%;
  }

}

.page-container {
  padding-top: 120px;
  max-width: 644px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 980px) {
    padding-top: 86px;
  }

  &--large {
    max-width: 980px;
  }

  &--pad-t-0 {
    padding-top: 0px;
  }


}

.page-header {
  margin-bottom: 39px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid $pale_grey;

  @media (max-width: 980px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.page-title {
  font-family: $primary_font;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  text-align: left;
  color: $black;



  &--centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 39px;
    margin-bottom: 60px;
    border-bottom: 1px solid $pale_grey;

    &--white {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    @media (max-width: 980px) {
     padding-bottom: 24px;
     margin-left: 20px;
     margin-right: 20px;
    }
  }

  &--white {
    color: $white;
  }

  @media (max-width: 980px) {
    font-size: 24px;
  }
}

.page-description {
  margin-bottom: 40px;

  font-family: $primary_font;
  font-size: 16px;
  line-height: 1.75;
  text-align: left;
  color: #7e7f82;

  @media (max-width: 980px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  b {
    color: $black;
    font-weight: 500;
  }


}

.pagination-title {
  height: 48px;

  font-family: $primary_font;;
  font-size: 16px;
  line-height: 3;
  color: $light_grey;

  @media (max-width: 980px) {
    height: 16px;
    font-size: 8px;
    font-weight: 500;
  }
}

.button {
  max-width: 150px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  text-decoration: none;
  border-radius: 100px;
  background-color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  line-height: 2.4;
  letter-spacing: 1.5px;
  text-align: left;
  color: #2a292d;
  font-family: $primary_font;
  text-transform: uppercase;
}


.homepage {
  padding-top: 60px;

  .hero {
    height: 660px;
    padding-top: 118px;

    background-image:url('/static/img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 980px) {
      padding-top: 40px;
      height: 400px;
    }

    .headline-wrapper {
      max-width: 800px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      @media (max-width: 980px) {
        padding-left: 20px;
      }

      .button {
        @media(max-width: 980px) {
          max-width: 40px;
          padding: 0px;
          width: 40px;
          height: 40px;
          justify-content: center;
          span {
            display: none;
          }
        }
      }
    }

    .headline {
      margin-bottom: 60px;

      font-family: $primary_font;
      font-size: 80px;
      text-align: left;
      color: $white;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

      @media (max-width: 980px) {
        margin-bottom: 20px;

        font-size: 32px;
        line-height: 1.25;
      }
    }

  }

  .info-brick {
    margin: 20px;
    height: 508px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-image:url('/static/img/featurebrick.jpg');
    background-repeat: no-repeat;
    background-position: center;

    @media ( max-width: 980px ) {
      height: auto;
      margin: 0px;

      justify-content: center;
      background-color: #f6f6f6;
      background-image: none;
    }

    .content-wrap {
      max-width: 561px;
      width: 100%;
      padding-right: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media ( max-width: 980px ) {
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    .headline {
      padding-bottom: 20px;
      margin-bottom: 40px;

      font-family: $primary_font;
      font-size: 48px;
      font-weight: 300;
      line-height: 1.17;
      text-align: center;
      color: $white;
      border-bottom: 1px solid $white;

      @media ( max-width: 980px ) {
        width: 100%;
        color: #2a292d;
        border-bottom: 1px solid #dfdfe0;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.33;
      }

    }

    .copy {
       margin-bottom: 48px;
       font-family: $primary_font;
       font-size: 20px;
       line-height: 1.6;
       text-align: center;
       color: $white;

       @media ( max-width: 980px) {
          font-size: 14px;
          line-height: 1.71;
          text-align: center;
          color: #2a292d;
       }
    }

  }

  .features {
    padding-top: 120px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;

    @media (max-width: 980px) {
      padding: 20px;
      padding-top: 40px;
    }

    .content-wrap {
      max-width: 860px;
    }

    .headline {
      max-width: 600px;
      padding-bottom: 31px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;

      border-bottom: 1px solid $pale_grey;
      font-family: $primary_font;
      font-size: 48px;
      font-weight: 300;
      line-height: 1.17;
      text-align: center;
      color: #2a292d;

      @media ( max-width: 980px ) {
        width: 100%;
        color: #2a292d;
        border-bottom: 1px solid #dfdfe0;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.33;
      }
    }

    .feature-row {
      display: flex;
      margin-bottom: 60px;

      @media ( max-width: 980px ) {
        flex-direction: column;
        margin-bottom: 0px;

        &:active, &:focus {
          outline: none;
        }

      }
    }

    .feature {
      width: 224px;
      min-width: 224px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media ( max-width: 980px ) {
        width: 170px;
        min-width: 170px;
      }

      &-container {
        display: flex;
        justify-content: center;

        @media ( max-width: 980px ) {
          margin-bottom: 20px;
          align-items: end;
        }

      }

      &-carousel {

        .slick-dots li.slick-active {
          background-color: #274ecc;
        }

        .slick-dots li {
          background-color: #dfdfe0;
        }

      }


      &-icon {
        height: 112px;
        width: 112px;
        margin-bottom: 20px;
      }

      &-title {
        font-family: $primary_font;
        font-size: 10px;
        font-weight: bold;
        line-height: 2.8;
        letter-spacing: 1.5px;
        text-align: center;
        color: $black;
        text-transform: uppercase;
      }
    }

  }


}



.products {

  display: flex;
  width: 100%;

  @media (max-width: 980px) {
    flex-direction: column;
  }


  &__filters {
    width: 224px;
    max-width: 224px;
    position: relative;

    @media (max-width: 980px) {
      max-width: 600px;
      width: 87.5%;
      margin-left: auto;
      margin-right: auto;
      border-top: 1px solid $pale_grey;
      border-left: 1px solid $pale_grey;
      border-right: 1px solid $pale_grey;
    }

  }

  &__filter {

    margin-bottom: 28px;
    background-color: $white;

    @media (max-width: 980px) {
      margin-bottom: 0px;
    }

    &__container {

      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

    }

    &__header {
       height: 44px;
       padding-left: 20px;
       display: flex;
       align-items: center;

       border-bottom: 1px solid $pale_grey;
       font-family: $primary_font;
       font-size: 10px;
       font-weight: bold;
       line-height: 2.8;
       letter-spacing: 1.5px;
       text-align: left;
       color: $black;
       text-transform: uppercase;

       @media (max-width: 980px) {
         height: 51px;
         color: $blue;

         &:hover {
           cursor: pointer;
         }
       }
    }

    &__mobile-header {
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $white;
      color: $blue;
      font-family: $primary_font;
      font-size: 10px;
      font-weight: bold;
      line-height: 2.8;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      border-bottom: 1px solid $pale_grey;

      @media (min-width: 981px) {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__icon {
      margin-right: 12px;
    }

    &__mobile-close {
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $white;
      color: $black;
      font-family: $primary_font;
      font-size: 10px;
      font-weight: bold;
      line-height: 2.8;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      border-bottom: 1px solid $pale_grey;

      svg {
        margin-right: 6px;
      }

      @media (min-width: 981px) {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__options {

      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

    }

    &__option {
      height: 47px;
      padding-left: 20px;
      display: flex;
      align-items: center;

      font-family: $primary_font;
      border-bottom: 1px solid $pale_grey;
      font-size: 14px;
      line-height: 2.29;
      text-align: left;
      color: $light_grey;

      &:last-child {
        border-bottom: none;

        @media (max-width: 980px) {
          border-bottom: 1px solid $pale_grey;
        }
      }

      input[type="radio"] {
        display: none;
      }

      input[type="checkbox"] {
        display: none;
      }

      input[type="radio"] + label, input[type="checkbox"] + label {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;

        &:hover {
          cursor: pointer;
        }
      }


      input[type="radio"] + label span {
          width:12px;
          height:12px;
          margin-right: 16px;
          display: flex;
          justify-content: center;

          cursor:pointer;
          -moz-border-radius:  50%;
          border-radius:  50%;
          color: white;
          align-items: center;

          div {
            height: 4px;
            width: 4px;

            background-color: $white;
            border-radius: 50%;
          }
      }

      input[type="checkbox"] + label span {

          display:inline-block;
          width:12px;
          height:12px;
          display: flex;
          justify-content: center;
          margin-right: 16px;

          cursor:pointer;
          color: white;
          align-items: center;
      }

      input[type="checkbox"] + label span {
          border: 2px solid $pale_grey;
      }

      input[type="radio"] + label span {
          // background-color:$blue;
          border: 2px solid $pale_grey;
      }

      input[type="radio"]:checked + label span{
           background-color:$blue;
           border: 2px solid $blue;
      }

      input[type="checkbox"] + label span {
          // background-color:$blue;
          border: 2px solid $pale_grey;
      }

      input[type="checkbox"]:checked + label span{
           background-color:$blue;
           border: 2px solid $blue;
      }

      input[type="radio"] + label span,
      input[type="radio"]:checked + label span,
      input[type="checkbox"] + label span,
      input[type="checkbox"]:checked + label span,
       {
        transition: .2s ease;
      }
    }

  }

  &__grid {

    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: 980px) {
      margin-top: 28px;
    }

  }

  &__row {
    display: flex;
    margin-bottom: 28px;
    margin-left: 28px;

    @media (max-width: 980px) {
      margin: 0px;
      flex-direction: column;
    }

  }

  &__product {
    height: 520px;
    width: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    background-color: $white;

    @media (max-width: 980px) {
      height: 104px;
      width: 100%;
      flex-direction: row;

    }

    &:nth-child(1) {
      margin-right: 28px;

      @media (max-width: 980px) {
        margin-right: 0px;
      }
    }

  }

  &__product-image {
    height: 352px;
    min-height: 352px;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: .2s ease;

    @media (max-width: 980px) {
      min-height: 104px;
      min-width: 104px;
      height: 104px;
      width: 104px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__product-detail {
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;

    background-color: white;

    @media (max-width: 980px) {
      max-width: 496px;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 0px;
      height: 104px;

      border-top: 1px solid $pale_grey;

      &--no-border-m {
        border-top: none;
      }
    }


  }

  &__product-arrow-mobile {

    position: absolute;
    right: 20px;

    @media ( min-width: 981px) {
      display: none;
    }
  }

  &__product-title {
   font-family: $primary_font;
   font-size: 16px;
   font-weight: bold;
   line-height: 1.75;
   letter-spacing: 1px;
   color: $black;

   @media (max-width: 980px) {
     text-align: left;
     font-size: 12px;
     line-height: 1.67;
   }

  }

  &__product-description {
   font-family: $primary_font;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.71;
   letter-spacing: 1px;
   color: $black;
   text-align: center;

   @media (max-width: 980px) {
     padding-right: 40px;
     text-align: left;
     font-size: 10px;
     line-height: 1.6;
   }
  }

  &__new-tag {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: -50px;
    top: -50px;
    height: 100px;
    width: 100px;

    background-color: $blue;
    transform: rotate(-45deg);
    font-family: $primary_font;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    z-index: 1;

    @media (max-width: 980px) {
      height: 60px;
      width: 60px;
      left: -30px;
      top: -30px;

      font-size: 8px;
    }

    span {
      padding-bottom: 10px;

      @media (max-width: 980px) {
        padding-bottom: 4px;
      }

    }
  }

}

.quote-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;
  height: 380px;
  width: 100%;

  background-color: $white;

  &--b-top {
    border-top: 1px solid $pale_grey;
  }

  @media (max-width: 980px) {
    height: 320px;
    margin-top: 0px;

  }

  &__secondary {
    margin-bottom: 22px;

    font-family: $primary_font;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #7e7f82;
  }

  &__subheadline {
    margin-bottom: 20px;

    font-family: $primary_font;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    text-align: center;
    color: $black;

    &--no-margin {
      margin-bottom: 0px;
    }

    @media (max-width: 980px) {
      font-size: 12px;
      margin-bottom: 16px;
    }
  }

  &__headline-wrap {
    margin-bottom: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;

    @media (max-width: 980px) {
      margin-bottom: 7px;
    }
  }

  &__headline {
     font-family: $primary_font;
     font-size: 36px;
     font-weight: bold;
     line-height: 1.22;
     letter-spacing: 2px;
     color: $blue;
     text-transform: uppercase;

     @media (max-width: 980px) {
       font-size: 16px;
     }
  }

  &__mobile-arrow {
    @media (min-width: 981px) {
      display: none;
    }
  }

  &__button {
    position: relative;
    margin-left: 10px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 2px $pale_grey;
    border-radius: 50%;
    overflow: hidden;
    transition: .3s ease;

    @media (max-width: 980px) {
      border: none;
      margin-left: 0px;
    }

    &:hover {
      cursor: pointer;
      border: solid 2px $black;
      @media (max-width: 980px) {
        border: none;
      }
    }

    &--white {
      cursor: pointer;
      border: solid 2px rgba(255, 255, 255, 0.3);

      &:hover {
        border: solid 2px $white;
      }
    }

    svg {
      position: absolute;
      transition: .3s ease;

      &.first {
        transform: translateX(-42px);

        &--active {
          transform: translateX(0px);
        }
      }

      &.last {
        transform: translateX(0px);

        &--hidden {
          transform: translateX(42px);
        }
      }

    }



  }

  &__seperator {
    margin-bottom: 60px;
    width: 100%;
    max-width: 600px;
    height: 1px;

    background-color: $pale_grey;

    @media (max-width: 980px) {
      max-width: 280px;
      margin-bottom: 56px;
    }
  }

  &__copyright {
    font-family: $primary_font;
    font-size: 14px;
    color: $light_grey;

    @media (max-width: 980px) {
      position: absolute;
      bottom: 24px;

      font-size: 8px;
      line-height: 2;
    }
  }
}


.contact-types {
  margin-bottom: 39px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $pale_grey;

  @media (max-width: 980px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  &--no-border {
    margin-bottom: 0px;
    border: none;
  }


  &__row {
    display: flex;
    margin-bottom: 40px;

    @media (max-width: 980px) {
      flex-direction: column;
      margin-bottom: 0px;
    }
  }

  &__type {
    width: 288px;
    min-height: 84px;
    display: flex;

    @media (max-width: 980px) {
      margin-bottom: 24px;
    }

    &:first-child {
      margin-right: 48px;
    }

    &__icon {
      min-width: 28px;
      max-width: 28px;
    }

    &__info {
      padding-left: 36px;

      &-header {
        font-family: $primary_font;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.75;
        color: #2a292d;
      }

      &-detail {
        font-family: $primary_font;
        font-size: 16px;
        line-height: 1.75;
        color: $dark_grey;

        b {
          font-weight: 500;
          color: $black;
        }
      }

    }
  }

}

.inquiry-form {

  &__header {
    margin-bottom: 20px;

    font-family: $primary_font;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    color: #2a292d;
    text-align: center;
  }

  &__subheader {
    margin-bottom: 40px;

    text-align: center;
    font-family: $primary_font;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: $light_grey;
  }

  form {
    max-width: 475px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .error-message {
    margin-bottom: 20px;

    font-family: $primary_font;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #ff7474;
  }

  .input-wrap {
    width: 100%;
    height: 52px;
    display: flex;
    margin-bottom: 8px;

    &--textarea {
      height: 168px;
    }

    &__submit {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        width: 150px;
        padding-left: 20px;
        padding-right: 20px;

        border-radius: 50px;
        border: 2px solid $pale_grey;
        background-color: #ffffff;
        font-family: $primary_font;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        line-height: 2.4;
        letter-spacing: 1.5px;
        text-align: left;
        color: #2a292d;

        &:hover {
          cursor: pointer;
        }

        &:focus, &:active {
          outline: 0;
        }

      }
    }

    &__label {
      display: flex;
      position: relative;
      //justify-content: center;
      //align-items: center;
      height: 52px;
      max-width: 120px;
      width: 100%;

      font-family: $primary_font;
      font-size: 10px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 1px;
      text-align: left;
      color: #2a292d;
      background-color: #e4e4e7;
      text-transform: uppercase;

      span {
        position: absolute;
        left: 20px;
        top: 20px;
      }

      &--error {
        color: #ff7474;
        background-color: rgba(255, 116, 116, 0.2);
      }

      &--textarea {
        height: 168px;
      }
    }

    &__input {
      height: 52px;
      width: 100%;
      background-color: $offwhite;

      &--error {
         background-color: rgba(255, 116, 116, 0.1);
      }

      &--textarea {
        height: 168px;
      }

      input {
        width: 100%;
        height: 52px;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px;

        background-color: transparent;
        border: 0px;
        font-size: 14px;
        line-height: 1.71;
        text-align: left;
        color: $black;

        &:focus, &:active {
          outline: 0;
        }

      }

      textarea {
        width: 100%;
        height: 168px;
        padding: 20px;
        margin: 0px;

        resize: none;
        background-color: transparent;
        border: 0px;
        font-size: 14px;
        line-height: 1.71;
        text-align: left;
        color: $black;

        &:focus, &:active {
          outline: 0;
        }
      }
    }


  }

}


.footer {
    margin-top: 200px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $primary_font;
    font-size: 14px;
    text-align: center;
    color: #7e7f82;
    border-top: 1px solid $pale_grey;

    @media (max-width: 980px) {
      margin-left: 20px;
      margin-right: 20px;
    }
}


.feature-products {

  @media (max-width: 980px) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__row {
    display: flex;
    flex: 1;

    @media (max-width: 980px) {
      flex-direction: column-reverse;
    }

  }

  &__block {
    min-height: 432px;
    height: auto;
    display: flex;
    width: 60%;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 980px) {
      width: 100%;
      min-height: auto;
      height: 192px;
    }

    &-title {
      position: absolute;
      bottom: 20px;
      left: 20px;

      font-family: $primary_font;
      font-size: 36px;
      font-weight: 300;
      line-height: 1.22;
      text-align: left;
      color: #ffffff;

      @media (max-width: 980px) {
         font-size: 24px;
         font-weight: 300;
         line-height: 1.33;
      }
    }

    &__content {
      padding-left: 15%;
    }

    &__title {
      margin-bottom: 20px;

      font-family: $primary_font;
      font-size: 36px;
      font-weight: 300;
      line-height: 1.33;
      text-align: left;
      color: #ffffff;

    }

    &__copy {
      margin-bottom: 48px;
      max-width: 400px;

      font-family: $primary_font;
      font-size: 16px;
      line-height: 1.75;
      text-align: left;
      color: #959498;
    }

    &__cta {

      a {
        display: flex;
        align-items: center;

        font-family: $primary_font;
        font-size: 10px;
        font-weight: bold;
        line-height: 2.4;
        letter-spacing: 1.5px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;

        img {
          margin-left: 10px;
        }
      }

    }

    &--one {
      background-image: url('/static/img/HWL83_hp.png');
    }

    &--two {
      background-image: url('/static/img/T1305_hp.png');
    }

    &--three {
      background-image: url('/static/img/Hi20_hp.png');
    }

    &--four {
      display: flex;
      align-items: center;
      background-color: #1f1e22;

      @media (max-width: 980px) {
        height: auto !important;
        min-height: auto !important;
        padding-top: 40px;
        padding-bottom: 40px;
      }

    }

    &:before {
      content: '';
      padding-top: 50%;
    }
  }

}


.clients {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: $blue;

  @media (max-width: 980px) {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .headline-wrap {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @media (max-width: 980px) {
      width: auto;
      margin-bottom: 40px;
      margin-left: 20px;
      margin-right: 20px;
      padding-bottom: 28px;
    }

  }

  .headline {
    margin-bottom: 20px;

    font-family: $primary_font;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.17;
    text-align: center;
    color: #ffffff;

    @media (max-width: 980px) {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.33;
    }
  }

  .subheader {
    margin-bottom: 11px;

    font-family: $primary_font;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #ffffff;

    @media (max-width: 980px) {

      font-size: 14px;
      line-height: 1.71;
    }
  }

  .content-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;

    @media (max-width: 980px) {
      padding-left: 20px;
      padding-right: 20px;
    }

  }

  .client-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media ( max-width: 980px) {
      display: none;
    }
  }

  .client-slide {

    display: flex;
    flex-direction: column;

    @media (min-width: 981px) {
      display: none;
    }

    &__row {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around;
    }

  }

  .client {

    img {
      height: 100px;
      width: 100px;

      @media (max-width: 980px) {
        height: 80px;
        width: 80px;
      }
    }

  }


  .slick-slide {
    &:focus, &:active {
      outline: none;
    }
  }

  .js_client-carousel {
    @media ( min-width: 981px) {
      display: none;
    }
  }

}

.see-more-block {
  margin-top: 100px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $blue;

  &__text {
    font-family: $primary_font;
    font-size: 10px;
    font-weight: bold;
    line-height: 4.4;
    letter-spacing: 1.5px;
    text-align: right;
    color: $white;
    text-transform: uppercase;
  }
}

.advertisements {

  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $black;

  @media ( max-width: 980px ) {
    padding-top: 40px;
    padding-bottom: 16px;
  }

  a {
    &:active, &:focus {
      outline: none;
    }
  }

  &__gallery {

    @media ( max-width: 980px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 478px;
    }

    @media ( max-width: 475px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 280px;
    }

    &__mobile-row {
      display: flex;
      margin-bottom: 20px;
    }

    &__row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      @media (max-width: 980px) {
        flex-direction: column;
        align-items: flex-start;
      }

    }

    &__closeBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 90% !important;
      width: 100px !important;
      left: calc(50% - 50px;);
      color: transparent !important;
      background-image: url('/static/img/closeX.svg') !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      background-size: 10px !important;
      background-position-y: 39.5px !important;
      background-position-x: 10px !important;

      &:focus, &:active {
        outline: none;
      }

      &:before {
        content: 'Close';
        font-family: $primary_font !important;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 1px;
        color: white !important;
        opacity: 1 !important;


        height: 13px !important;
        width: 13px !important;
        left: calc(50% - 6.5px) !important;
        top: calc(50% - 6.5px) !important;
        margin: 0 !important;

        border: none !important;


      }

    }

    &__nextBtn {
      height: 32px !important;
      width: 32px !important;
      margin-top: 0px !important;
      right: calc(50% - 350px) !important;

      border-top: 50px !important;
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.3) !important;
      opacity: 1 !important;
      transition: .2s ease !important;


      &:hover {
        opacity: .5 !important;
      }


      &:focus, &:active {
        outline: none;
      }

      &:before {
        height: 13px !important;
        width: 13px !important;
        left: calc(50% - 6.5px) !important;
        top: calc(50% - 6.5px) !important;
        margin: 0 !important;

        border: none !important;
        background-image: url('/static/img/arrow_white.svg') !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
    }

    &__previousBtn {

      height: 32px !important;
      width: 32px !important;
      margin-top: 0px !important;
      left: calc(50% - 350px) !important;

      border-top: 50px !important;
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.3) !important;
      opacity: 1 !important;
      transition: .2s ease !important;


      &:hover {
        opacity: .5 !important;
      }


      &:focus, &:active {
        outline: none;
      }

      &:before {
        height: 13px !important;
        width: 13px !important;
        left: calc(50% - 6.5px) !important;
        top: calc(50% - 6.5px) !important;
        margin: 0 !important;

        border: none !important;
        background-image: url('/static/img/arrow_white.svg') !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }

    }

  }

  &__advertisement {

    margin-left: 14px;
    margin-right: 14px;

    @media ( max-width: 475px) {
      margin-left: 10px;
      margin-right: 10px;
    }


    &--m-l-0 {
      margin-left: 0px;
    }

    &--m-r-0 {
      margin-right: 0px;
    }

    @media (max-width: 980px) {
      &--m-l-0-m {
        margin-left: 0px;
      }

      &--m-r-0-m {
        margin-right: 0px;
      }
    }

    img {
      height: 187px;
      width: 140px;

      @media ( max-width: 475px) {
        height: 107px;
        width: 80px;
      }

    }

  }

}


.product-details {

  &__hero {
    padding-top: 120px;
    padding-bottom: 100px;

    background-color: #1f1e22;

    @media (max-width: 980px) {
      // background-color: #FFFFFF;
      padding-top: 100px;
      padding-bottom: 0px;
    }
  }

  &__content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    font-family: $primary_font;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.17;
    text-align: center;
    color: #ffffff;
  }

  &__subtitle {
    margin-bottom: 60px;
    max-width: 392px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


    font-family: $primary_font;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #ffffff;

    @media (max-width: 980px) {
      margin-bottom: 24px;
    }
  }

  &__photos--primary {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    @media (max-width: 980px) {
      margin-bottom: 0px;
    }

    .slick-dots {
      top: -20px;
      position: relative;
    }

    .slick-list {
      @media (max-width: 980px) {
        bottom: -24px;
      }
    }

    img {
      width: 100%;
      height: auto;
      max-height: 584px;
      &:active, &:focus {
        outline: none;
      }
    }
  }

  &__photos--secondary-container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @media (max-width: 980px) {
      display: none;
    }
  }

  &__photos--secondary {
    max-width: 812px;
    margin-left: auto;
    margin-right: auto;

    img {
      height: 100px;
      width: 140px;
      max-width: 140px;

      &:active, &:focus {
        outline: none;
      }
    }

    .slick-slide {
      opacity: 0.15;
    }

    .slick-current {
      opacity: 1;
    }

  }

  &__next {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -10%;
    top: calc(50% - 16px);

    background-color: transparent;
    border: solid 2px rgba(255,255,255,0.3);
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }

    &:active, &:focus {
      outline: none;
    }

    img {
      height: 13px;
      width: 13px;
    }

  }

  &__previous {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10%;
    top: calc(50% - 16px);

    background-color: transparent;
    border: solid 2px rgba(255,255,255,0.3);
    border-radius: 50%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    &:hover {
      cursor: pointer;
    }

    &:active, &:focus {
      outline: none;
    }

    img {
      height: 13px;
      width: 13px;
    }

  }


  &__model-header {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 980px) {
     padding-top: 5px;
     padding-bottom: 20px;
    }

  }


  &__model {
    width: 308px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ececee;
    font-family: $primary_font;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #7e7f82;
  }

  &__columns {

    display: flex;
    justify-content: space-between;

    @media (max-width: 980px) {
      align-items: center;
      flex-direction: column;
    }

  }

  &__column {
    width: 476px;
    padding-top: 20px;
    border-top: 1px solid #dfdfe0;

    @media (max-width: 980px) {
      max-width: 476px;
      width: 100%;

      &:nth-child(2) {
        border-top: none;
        padding-top: 0px;
      }

    }

    &__title {
      font-family: $primary_font;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.67;
      text-align: left;
      color: #2a292d;

      @media (max-width: 980px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      &--centered {
          text-align: center;
          margin-bottom: 20px;

          @media (max-width: 980px) {
            margin-bottom: 0px;
            text-align: left;

          }
      }
    }

    &__description {
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;

      font-family: $primary_font;
      font-size: 16px;
      line-height: 1.75;
      text-align: center;
      color: #7e7f82;

      @media (max-width: 980px) {
        text-align: left;
      }
    }
  }



  &__features-column {

    ul {
      margin-left: 0px;
      padding-left: 17px;
      border-bottom: 1px solid #dfdfe0;
      padding-bottom: 30px;

      @media (max-width: 980px) {
        padding-left: 40px;
        padding-right: 20px;
      }
    }

    li {
      margin-bottom: 12px;

      font-family: $primary_font;
      font-size: 16px;
      line-height: 1.75;
      text-align: left;
      color: #2a292d;

      span {
        color: #7e7f82;
      }


      b {
        display: block;
        color: #2a292d;
        font-weight: 400;
      }
    }

  }

  &__quote-column {

  }


}





// Slick Settings

.slick-slide {

  &:hover {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

&:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

}

.slick-dots {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    display: flex;
    justify-content: center;
    height: 8px;
    width: 8px;
    border-radius: 50px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: rgba(255, 255, 255, 0.3);

    &:hover {
      cursor: pointer;
    }

    &.slick-active {
      background-color: #FFFFFF;
    }

  }

  button {

    height: 8px;
    width: 8px;


    color: transparent;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }


    &:focus, &:active {
      outline: none;
    }
  }

  .slick-active button {
    height: 8px;
    width: 8px;

    color: transparent;
    //background-color: white;
    border: none;
    border-radius: 50%;
  }


}
